* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-size: 24px;
}

.div {
    width: 100px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div--first {
    background-color: palegreen;
}

.div--second {
    background-color: paleturquoise;
}
